machine:
  kubelet:
    extraConfig:
      serializeImagePulls: false
    nodeIP:
      validSubnets:
        #% if dual_network_enabled %#
        - #{ cluster_cidr }#
        #% else %#
        - #{ node_cidr }#
        #% endif %#
